version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: todo_family_db
    restart: unless-stopped
    env_file:
      - ./cmd/server/.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "${POSTGRES_PORT}:5432"
volumes:
  db_data: